<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <!-- index.jsp mapping -->
    <!-- <servlet>
    <servlet-name>HomePage</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
	</servlet>
	mapping
	<servlet-mapping>
	    <servlet-name>HomePage</servlet-name>
	    <url-pattern>/</url-pattern>   
	</servlet-mapping> -->
    
    <servlet>
        <servlet-name>RoomPriceDisplay</servlet-name>
        <servlet-class>com.hotel.servlet.RoomPriceDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingData</servlet-name>
        <servlet-class>com.hotel.servlet.BookingData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.hotel.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.hotel.servlet.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet2</servlet-name>
        <servlet-class>com.hotel.servlet.PaymentServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.hotel.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginBookingReceiptServlet</servlet-name>
        <servlet-class>com.hotel.servlet.LoginBookingReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBookingServlet</servlet-name>
        <servlet-class>com.hotel.servlet.CancelBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>com.hotel.servlet.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFeedbackServlet</servlet-name>
        <servlet-class>com.hotel.servlet.UserFeedbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoomPriceDisplay</servlet-name>
        <url-pattern>/RoomPriceDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingData</servlet-name>
        <url-pattern>/BookingData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet2</servlet-name>
        <url-pattern>/PaymentServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginBookingReceiptServlet</servlet-name>
        <url-pattern>/LoginBookingReceiptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBookingServlet</servlet-name>
        <url-pattern>/CancelBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserFeedbackServlet</servlet-name>
        <url-pattern>/UserFeedbackServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1800
        </session-timeout>
    </session-config>
</web-app>
